<h1><%%= t('<%= singular_name %>.listing') %></h1>

<%% searchable_form -%>

<%%= pagination %><br />

<table>
  <tr>
    <%%= sortable_th :<%= attributes.first.column.name %> %>
<% for attribute in attributes[1, attributes.size] -%>
    <th><%%= t('<%= "attribute.#{attribute.column.name}" %>') %></th>
<% end -%>
    <th></th>
  </tr>

<%% for <%= singular_name %> in @<%= plural_name %> %>
  <tr class="<%%= cycle('odd', 'even') %>">
    <td><%%=searchable_h <%= singular_name %>.<%= attributes.first.name %> %></td>
<% for attribute in attributes[1, attributes.size] -%>
    <td><%%=h <%= singular_name %>.<%= attribute.name %> %></td>
<% end -%>
    <td>
      <%%= link_to t('show'), <%= singular_name %>_path(<%= singular_name %>) %>
      <%%= link_to t('edit'), edit_<%= singular_name %>_path(<%= singular_name %>) %>
      <%%= link_to t('delete'), <%= singular_name %>_path(<%= singular_name %>),
        :confirm => t('confirm_deletion'), :method => :delete %>
    </td>
  </tr>
<%% end %>
</table>

<%%= pagination %><br />

<%%= link_to t('<%= singular_name %>.new'), new_<%= singular_name %>_path %>
